* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg1--: #25aba4;
  --bg2--: #529381;
}
.simg-container {
  width: 100%;
}
body {
  background-color: #ededed;
}

.banner {
  background-image: url("img/banner/b2.jpg");
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.banner h3 {
  color: white;
  font-size: 35px;
}
.showcase {
  padding: 4px;
}
.product-container {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.3);
}
.simg-container img:nth-child(1) {
  display: block;
}
.simg-container:hover img:nth-child(1) {
  display: none;
}
.simg-container img:last-child {
  display: none;
}
.simg-container:hover img:last-child {
  display: block;
}
.simg-container {
  transition: 0.3;
  max-height: 400px;
  min-height: 300px;
  display: flex;
  justify-content: center;
}
.simg-container:hover img {
  scale: 1.02;
}
.simg-container img {
  max-height: 400px;
}
.star {
  color: rgb(255, 204, 0);
  margin-right: 5px;
}
.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: #272727;
  margin: 0;
}
.detail p span {
  color: #282828;
  font-weight: 500;
  font-size: 20px;
}
.detail p strike {
  font-size: 18px;
  color: #393939;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.heartp {
  top: 5%;
  right: 10%;
  font-size: 25px;
  color: #a09e9e;
}
.heartp.hearted {
  color: rgb(255, 122, 122);
}
/* alert */
.alert {
  padding: 10px;
  position: fixed !important;
  z-index: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 250px;
  background-color: rgb(224, 224, 246);
  border-radius: 5px;
}
.alert h3 {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}
.cross-icon {
  top: 10%;
  right: 5%;
  font-size: 45px;
}
